.page__about
    padding 4px
    text-align center
    
    .about_titleWrap
    
        .about_title
            margin 20px 0 8px 0
            font-size 18px

    .about_content
        margin 40px
    