<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header %>
</head>
<body>

    <div class="wrapper">
        <section>
            <div class="container">
                <div class="section-heading">
                    <h1>Error</h1>
                    <div class="divider"></div>
                    <p><%= message %></p>
                </div>
            </div>
        </section>
    </div>
    
    <% include partials/scripts %>
</body>
</html>