<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body id="app">

  <!-- Slide Nav -->
  <nav class="component__nav" id="menu">
    <component-nav :is-server-page="true"></component-nav>
  </nav>

  <!-- Main -->
  <main v-cloak id="main">

    <!-- Header -->
    <header style="<%= data.noHeader ? 'display: none;' : '' %>">
      <component-header :is-server-page="true"></component-header>
    </header>

    <!-- Page Content -->
    <div class="component__main co_main">
      <h3>Terms &amp; Conditions</h3>
      <pre style="white-space: pre-wrap;">
Effective on February 6, 2016

At Indie Inc., (“Hashdish,” “we,” “our” or “us”), our small team works hard to provide a service via our website (hashdish.com) and mobile applications (including any other features, content or applications offered from time to time by Hashdish, the “Service” or “Services”) to help users (“Users,” “you,” “your”) find and share great dishes from restaurants around the world.

    You can use Hashdish to find visual and verbal information about great dishes around you, as well as other information, data and content (“Content”) created by Hashdish, Hashdish users (“User Generated Content”) or provided by third parties (“Third Party Content”).
    You can optionally create a Hashdish account (“Your Account” or “Account”) so that you can share Content about yourself (such as your public profile information or profile picture) and about dishes that you want, try or love (“Your Content”).

By using the Hashdish Services, including but not limited to visiting the Hashdish website or using the iPhone, Android, BlackBerry and Windows Phone applications, whether as a registered or unregistered user, you acknowledge that:

    You are over 13 years of age. (This Service is not targeted towards children under the age of 13, nor do we knowingly collect information about children under the age of 13.)
    You have read and agree to be bound by these Terms of Service and our Privacy Policy (http://hashdish.com/privacy), which is incorporated by reference.
    These Terms of Service, together with the Hashdish Privacy Policy, the Commercial and Promotional Use Terms are collectively known from this point forward as the “Terms of Service,” “Terms” or “TOS”).

PLEASE READ THESE TERMS OF SERVICE CAREFULLY BEFORE USING THE Hashdish SERVICES.  THESE TERMS OF SERVICE SET FORTH THE LEGALLY BINDING TERMS AND CONDITIONS FOR YOUR USE OF THE Hashdish SERVICES.  BY THE Hashdish SERVICES IN ANY MANNER, YOU AGREE TO BE BOUND BY THESE TERMS OF SERVICE TO THE EXCLUSION OF ALL OTHER TERMS.  IF YOU ARE ENTERING INTO THIS AGREEMENT ON BEHALF OF AN ENTITY, THEN YOU REPRESENT AND WARRANT THAT YOU ARE AUTHORIZED TO BIND SUCH ENTITY TO THE TERMS OF THIS AGREEMENT.

If you do not agree to or are uncomfortable with these Terms of Service, please do not use the Service.

Using This Service

    THE Hashdish SERVICE IS PROVIDED “AS IS” AND WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. PLEASE REVIEW ALL DISCLAIMERS BELOW.
    We reserve the right to modify, restrict access to or terminate the Service or any features of the Service for any reason, without notice, at any time.
    You understand that this is an online Service that requires data to be transferred to and from the Hashdish servers and databases via your network connection in order to function. 
    You are responsible for any fees charged by your internet service provider or mobile carrier for using these Services, including, but not limited to data transfer fees.
    You are responsible for ensuring that any networks you are using to access the Hashdish Services are secure and will not hold Hashdish responsible for any consequences of using the Service on an unsecure network.
    You understand that Hashdish uses third party vendors and hosting providers to provide the necessary hardware, software, networking, storage and related technology required to run the Service but strives to protect your information per our Privacy Policy.
    The Hashdish Services may be supported by advertising revenue and may display advertisements and promotions. These advertisements may be targeted based on Content, Your Content, queries or other information, but all of your personal information will be protected in accordance with our Privacy Policy. The manner, mode, and extent of advertising by or permitted by Hashdish are subject to change without specific notice to you. In consideration for Hashdish granting you access to and use of the Services, you agree that Hashdish may display such advertising throughout the Service you will not block such advertising from appearing.
    Hashdish reserves the right to charge for certain features of the Service. Should Hashdish do so and should you elect to subscribe to such features, you shall pay all applicable fees, as described on the Services in connection with such features.
    You will not use the Hashdish Service in a manner inconsistent with its intended uses, including but not limited to using Hashdish as a generic image hosting service or to serve assets.
    If you are dissatisfied with the Service, please provide feedback through the provided feedback mechanisms. Your only other remedy (and Hashdish’s sole liability) with respect to any dissatisfaction with (i) the Service, (ii) the Terms of Service or Privacy Policy, (iii) any policy or practice of Hashdish in operating the Service, or (iv) any content or information transmitted through the Service, is to cease using Hashdish and to remove Your Content and terminate Your Account, if you have created one.
    You hereby grant Hashdish a royalty-free, worldwide, transferable, sublicensable, irrevocable, perpetual license to use or incorporate into the Service any suggestions, enhancement requests, recommendations or other feedback that you provide to Hashdish relating to the operation of the Service.
    We use the Facebook, Twitter and Instagram APIs but are not endorsed or certified by any of these parties. All logos and trademarks are the property of their respective parties. Be sure to view each party's Privacy Policy & Terms of Service before sharing.

Consuming Content

    BECAUSE Hashdish RELIES ON USER GENERATED CONTENT AND THIRD PARTY CONTENT, CONTENT IS PROVIDED “AS IS” AND Hashdish MAKES NO REPRESENTATIONS OR WARRANTIES CONCERNING THE APPROPRIATENESS, ACCURACY, RELIABILITY, USEFULNESS, COMPLETENESS OR TIMELINESS OF ANY CONTENT. ANY USE OF OR RELIANCE ON ANY CONTENT IS AT YOUR OWN RISK. 
    By using the Service, you agree that Hashdish shall not be responsible for (1) any Content, (2) any person’s reliance on any such Content, whether or not correct, current and complete, or (3) the consequences of any action that you or any other person takes or fails to take based on any Content or otherwise as a result of your use of the Service.  
    Hashdish does not endorse and has no control over any User Generated Content.  Hashdish cannot guarantee the authenticity of any data which users may provide about themselves. Hashdish has no obligation to monitor the Service, Content, or User Generated Content.
    Under no circumstances will Hashdish be liable in any way for any Content or User Generated Content, including, but not limited to, any errors or omissions in any Content or User Generated Content, or any loss or damage of any kind incurred in connection with use of or exposure to any Content or User Generated Content posted, emailed, accessed, transmitted or otherwise made available via the Service.  Hashdish is not responsible for any data which is deleted (either intentionally or unintentionally) at the direction of any user.
    The Services may contain links to third party services or resources. When you access third party services, you do so at your own risk.  These other services are not under Hashdish’s control, and you acknowledge that Hashdish is not responsible or liable for the content, functions, accuracy, legality, appropriateness or any other aspect of such services or resources.  The inclusion of any such link does not imply endorsement by Hashdish or any association with its operators.  You further acknowledge and agree that Hashdish shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such Content, goods or services available on or through any such website or resource.
    You may be exposed to Content that is offensive, indecent, inaccurate, objectionable, or otherwise inappropriate. While Hashdish does not endorse and reserves the right to remove such Content, you acknowledge that you nonetheless may be exposed to such materials.
    You may not use Content without written permission from Hashdish or the original license holder. If Hashdish grants permission to use any photos hosted on the Service, the following caption (or an agreed-upon alternative) must be placed directly adjacent to any such photos: “Photo by [Hashdish User’s Display Name]. Used by permission from Hashdish.” Use of any Hashdish images must not violate any of the terms and conditions found in our Terms of Service.
    Some of the Service's mapping features are powered by Google Inc., the use of which is also governed by the terms of use located at http://maps.google.com/help/terms_maps.html (or such other URL as may be updated by Google Inc), which are incorporated herein by this reference.

Creating Accounts

    To contribute Your Content to Hashdish or to access certain features of the Service, you must create an Account.
    To create an Account, you may be required to provide Personal Information (as defined in the Hashdish Privacy Policy) about yourself, including but not limited to your email address.
    You are responsible for ensuring that any Personal Information you provide is accurate and up to date.
    We are not responsible for ensuring that communications reach Your Account email address.
    You are responsible for creating a secure password and protecting Your Account from unauthorized access.
    You will be held responsible for any activity that occurs under Your Account.
    We do not have access to your password once it’s generated, but we can enable you to or require you to reset your password.
    You will not impersonate, abuse, harass, threaten or intimidate other people from Your Account.

Contributing Content

    By choosing to contribute Your Content to Hashdish, you acknowledge and agree to the following terms and our Privacy Policy. You should only contribute Content to Hashdish if you are comfortable with these terms.
    You will contribute accurate photos and information. Content that is inaccurate, offensive, indecent, inaccurate, objectionable, or otherwise inappropriate may be flagged and removed without notice.
    You must own the rights to any Content you contribute. All content posted on the Service must comply with all applicable laws (including, without limitation, U.S. copyright law). You represent and warrant that (i) You own or otherwise possess all rights to use Your Content; (ii) You have the permission to use the name and likeness of each identifiable individual person and to use such individual's identifying or personal information; (iii) You are authorized to grant all of the rights described in these Terms of Service; and (iv) the use of Your Content as contemplated by these Terms of Service will not infringe or violate any intellectual property, privacy, publicity, contract or other rights of any person or entity. If you do not have the right to submit Content for such use, it may subject you to liability. Hashdish will not be responsible or liable for any use of Your Content by Hashdish in accordance with these Terms of Service. You represent and warrant that you have all the rights, power and authority necessary to grant the rights granted herein to any Content that you submit.
    You will be held solely responsible and liable for Your Content and conduct on the Hashdish Service.
    Your Content will be publicly visible throughout the Hashdish Service.
    Your Content, including your public account information such as your display name or profile picture, may be indexed by third party search engines, such as Google, which may not remove it immediately (or ever), even if it is removed from the Hashdish Service.
    Your Content may be licensed to third parties who have agreed to the Terms of Service, or otherwise licensed it from Hashdish, as described in our Privacy Policy.
    Your Content may be modified or adapted (for example, photos may be cropped) in order to meet design and technical requirements of the Service or for any other reason.
    You are responsible for retaining original copies of Your Content.
    Because other Hashdish users may have acted on Your Content (for example, bookmarking a dish you recommended), you may not be able to remove or edit Your Content once you’ve contributed it to Hashdish. We have made reasonable efforts to enable you to delete Your Content and disable Your Account, which disassociates Your Content from Your Account, but we cannot guarantee complete removal.
    Your Content always belongs to you. You retain copyright and any other rights you already hold in Your Content, but by uploading, posting, contributing, or otherwise providing Your Content to Hashdish, you grant Hashdish a worldwide, non-exclusive, perpetual, irrevocable, royalty-free, fully paid, sublicensable and transferable license to use, modify, reproduce, distribute, prepare derivative works of, display, perform, and otherwise fully exploit Your Content in connection with the Service and Hashdish’s (and its successors’ and assigns’) business, including without limitation for promoting and redistributing part or all of the Services (and derivative works thereof) or the Service in any media formats and through any media channels (including, without limitation, third party services).
    For clarity, the foregoing license grant to Hashdish does not affect your other ownership or license rights in Your Content, including the right to grant additional licenses to the material in Your Content, unless otherwise agreed in writing.
    We will encourage any third parties to whom we sublicense Your Content to attribute you, in addition to Hashdish, but you acknowledge that this may not always be possible depending on the context.
    Be sure to review our Privacy Policy to better understand how your public and private information is used and protected.

Removal of Your Account and Your Content

    You may disable Your Account via the Hashdish website. If you disable Your Account, we will use commercially reasonable efforts to stop displaying any public Account information (such as your Display Name) throughout the Service. Disabling Your Account anonymizes Your Content but does not automatically remove it.
    You may delete certain types of Your Content via the Hashdish website, but because other Hashdish users may have acted on Your Content (for example, bookmarking a dish you recommended), you may not be able to remove or edit Your Content entirely once you’ve contributed it to Hashdish.
    We reserve the right to monitor and review Your Account, Your Content and Your activity for compliance with these Terms of Service.
    We reserve the right to remove or disable Your Account or Your Content for any reason, including, but not limited to, violation of Terms of Service, alleged infringement or verbal, physical, written or other abuse of a Hashdish user, employee, member or officer. Doing so could immediately prevent you from accessing Your Account, Your Content or the Service.
    We will do our best to communicate with you via Your Account email address prior to removal of Your Account or Your Content, but are not obligated to do so and cannot be responsible for failure to reach you via email.
    We cannot guarantee access to Your Account or Your Content.
    We have no obligation to retain or provide you with copies of Your Content. You are responsible for backing up and archiving Your Content.
    We reserve the right to reclaim any username created by a Hashdish user on behalf of businesses or individuals that hold legal claim or trademark on that username.
    We also reserve the right to reclaim any username created by a Hashdish user that has been inactive for 6 months or more. Your Account may be permanently disabled due to prolonged inactivity.

Survival Upon Termination

In the event of the termination of Your Account, all provisions of the Terms of Service, which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.

Restrictions on Use

As a condition of use, you promise not to use the Service for any purpose that is prohibited by the Terms of Service.  The Service (including, without limitation, any Content, or User Generated Content) is provided only for your own personal, non-commercial use.  You are responsible for all of your activity in connection with the Service. By way of example, and not as a limitation, you shall not (and shall not permit any third party to) either (a) take any action or (b) upload, download, post, submit or otherwise distribute or facilitate distribution of any content on or through the Service, that:

    infringes any patent, trademark, trade secret, copyright, right of publicity or other right of any other person or entity;
    is unlawful, threatening, abusive, harassing, defamatory, libelous, deceptive, fraudulent, invasive of another’s privacy, tortious, obscene, offensive, or profane;
    constitutes unauthorized or unsolicited advertising, junk, spam or bulk e-mail (including without limitation any postings to third party social media Services which are linked to the Service);
    contains software viruses or any other computer codes, files, or programs that are designed or intended to disrupt, damage, limit or interfere with the proper function of any software, hardware, or telecommunications equipment or to damage or obtain unauthorized access to any system, data, password or other information of Hashdish or any third party; or
    impersonates any person or entity, including any employee or representative of Hashdish.

Additionally, you shall not: (i) take any action that imposes or may impose (as determined by Hashdish in its sole discretion) an unreasonable or disproportionately large load on Hashdish’s (or its third party providers’) infrastructure; (ii) interfere or attempt to interfere with the proper working of the Service or any activities conducted on the Service; (iii) bypass any measures Hashdish may use to prevent or restrict access to the Service (or other accounts, computer systems or networks connected to the Service); or (iv) use manual or automated software, devices, or other processes to “crawl” or “spider” any page of the Services.  

You shall not (directly or indirectly): (i) decipher, decompile, disassemble, reverse engineer or otherwise attempt to derive any source code or underlying ideas or algorithms of any part of the Service, except to the limited extent applicable laws specifically prohibit such restriction, (ii) modify, translate, or otherwise create derivative works of any part of the Service, or (iii) copy, rent, lease, distribute, or otherwise transfer any or all of the rights that you receive hereunder. You shall abide by all applicable local, state, national and international laws and regulations.

Hashdish reserves the right to remove any Content from the Services at any time, for any reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating to such Content or if Hashdish is concerned that you may have violated the Terms of Service), or for no reason at all.

Warranty Disclaimer

Hashdish has no special relationship with or fiduciary duty to you. You acknowledge that Hashdish has no control over, and no duty to take any action regarding: which users gains access to the Service; what Content you access via the Service; what effects the Content may have on you; how you may interpret or use the Content; or what actions you may take as a result of having been exposed to the Content. You release Hashdish from all liability for you having acquired or not acquired Content through the Services. The Services may contain, or direct you to third party services containing, information that some people may find offensive or inappropriate. Hashdish makes no representations concerning any content contained in or accessed through the Services, and Hashdish will not be responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through the Services.

THE SERVICE (INCLUDING, WITHOUT LIMITATION, ANY CONTENT) IS PROVIDED “AS IS” AND “AS AVAILABLE” AND IS WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED.  Hashdish, AND ITS DIRECTORS, EMPLOYEES, AGENTS, SUPPLIERS, PARTNERS AND CONTENT PROVIDERS DO NOT WARRANT: (A) THAT THE SERVICE WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (B) THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED; (C) THAT ANY CONTENT OR SOFTWARE AVAILABLE AT OR THROUGH THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; (D) THE INTEGRITY OR SECURITY OF ANY USER SUBMISSION OR OTHER DATA PROVIDED TO THE SERVICE; OR (E) THE RESULTS OF USING THE SERVICE WILL MEET YOUR REQUIREMENTS.  YOUR USE OF THE SERVICE IS SOLELY AT YOUR OWN RISK. SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.

While we strive to protect your information in accordance with our Privacy Policy, Hashdish can not be liable for the privacy of email addresses, registration and identification information, disk space, communications, confidential or trade-secret information, or any other Content stored on Hashdish’s equipment, transmitted over networks accessed by the Services, or otherwise connected with your use of the Service.

Indemnification

You shall defend, indemnify, and hold harmless Hashdish, its affiliates and each of its, and its affiliates  employees, contractors, directors, suppliers and representatives from all liabilities, claims, and expenses, including reasonable attorneys’ fees, that arise from or relate to (i) your use or misuse of, or access to, the Services, Service, Content or otherwise from your User Generated Content, (ii) your violation of the Terms of Service, or (iii) infringement by you, or any third party using Your Account, of any intellectual property or other right of any person or entity.  Hashdish reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will assist and cooperate with Hashdish in asserting any available defenses.

Limitation of Liability

IN NO EVENT SHALL Hashdish, NOR ITS DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, SUPPLIERS OR CONTENT PROVIDERS, BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR ANY OTHER LEGAL OR EQUITABLE THEORY WITH RESPECT TO THE SERVICE (INCLUDING, WITHOUT LIMITATION, ANY CONTENT) (I) FOR ANY LOST PROFITS, DATA LOSS, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, SUBSTITUTE GOODS OR SERVICES (HOWEVER ARISING), (II) FOR ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE (REGARDLESS OF THE SOURCE OF ORIGINATION), (III) FOR YOUR RELIANCE ON THE SERVICE OR (IV) FOR ANY DIRECT DAMAGES IN EXCESS OF (IN THE AGGREGATE) ONE-HUNDRED U.S. DOLLARS ($100.00).  SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.  

Dispute Resolution

A printed version of the Terms of Service and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to the Terms of Service to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.  You and Hashdish agree that any cause of action arising out of or related to the Service must commence within one (1) year after the cause of action arose; otherwise, such cause of action is permanently barred.

YOU AND Hashdish AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. FURTHER, UNLESS BOTH YOU AND Hashdish AGREE OTHERWISE, THE ARBITRATOR MAY NOT OTHERWISE PRESIDE OVER ANY FORM OF A REPRESENTATIVE OR CLASS PROCEEDING. The arbitrator may award declaratory or injunctive relief only in favor of the individual party seeking relief and only to the extent necessary to provide relief warranted by that party's individual claim.

Integration and Severability

The Terms of Service are the entire agreement between you and Hashdish with respect to the Service and use of the Services, and supersede all prior or contemporaneous communications and proposals (whether oral, written or electronic) between you and Hashdish with respect to the Services.  If any provision of the Terms of Service is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that the Terms of Service will otherwise remain in full force and effect and enforceable.  The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder. 

Miscellaneous

Hashdish shall not be liable for any failure to perform its obligations hereunder where such failure results from any cause beyond Hashdish’s reasonable control, including, without limitation, mechanical, electronic or communications failure or degradation.  The Terms of Service are personal to you, and are not assignable, transferable or sublicensable by you except with Hashdish’s prior written consent.  Hashdish may assign, transfer or delegate any of its rights and obligations hereunder without consent.  No agency, partnership, joint venture, or employment relationship is created as a result of the Terms of Service and neither party has any authority of any kind to bind the other in any respect.  In any action or proceeding to enforce rights under the Terms of Service, the prevailing party will be entitled to recover costs and attorneys’ fees.  All notices under the Terms of Service will be in writing and will be deemed to have been duly given when received, if personally delivered or sent by certified or registered mail, return receipt requested; when receipt is electronically confirmed, if transmitted by facsimile or e-mail; or the day after it is sent, if sent for next day delivery by recognized overnight delivery service.

Copyright and Trademark Notices

Unless otherwise indicated, the Terms of Service and all Content provided by Hashdish are copyright © 2016 Hashdish, Inc.  All rights reserved.

Hashdish and look and feel of the Hashdish Services, HTML/CSS, graphical assets or trademarks, including the “Hashdish” word mark, the Hashdish “Spoon and Fork” logo are either trademarks or registered trademarks of Hashdish.  The names of any actual companies and products mentioned at the Services may be the trademarks of their respective owners.

Hashdish and Third Party Proprietary Information 

The material, Content, and Services accessible from this website, including, but not limited to, the Hashdish website owned, operated, licensed, or otherwise controlled by Hashdish (the “Services Content”) is the proprietary information of Hashdish or the party that provided or licensed the Services Content to Hashdish, whereby such providing party retains all right, title, and interest in the Services Content. Accordingly, the Services Content may not be copied, decompiled, reverse engineered, disassembled, transferred, distributed, republished, resold, sublicensed, uploaded, posted, used to create derivative works, or transmitted in any way without the prior written consent of Hashdish, except that you may print out a copy of the Services Content solely for your personal use. In doing so, you may not remove or alter, or cause to be removed or altered, any copyright, trademark, trade name, service mark, or any other proprietary notice or legend appearing on any of the Services Content. Modification or use of the Services Content except as expressly provided in these Terms of Use violates Hashdish’s intellectual property rights. Neither title nor intellectual property rights are transferred to you by access to this website. Notwithstanding this provision, users of Hashdish Services and the website are not permitted to use the Services Content as a component of, or basis for, a database prepared for use by the said user or any third party. Furthermore, all copies of Services Content, whether in print or electronic form, must incorporate all of Hashdish’s or third party copyright and / or other intellectual property rights notices.

Indie Inc.
2–10–12, Dogenzaka, SHIBUYA, TOKYO, 150–0043
support@indie-inc.com

Be aware that if you materially misrepresent that a product or activity is infringing your copyrights, you may be liable for any damages (including costs and attorneys' fees). If you are not sure whether material available online infringes your copyright, we suggest that you first contact an attorney.

Modifications to Terms

Hashdish reserves the right, at its sole discretion, to amend these Terms of Service from time to time. If we make material changes to these Terms of Service, we will notify you by delivering an announcement via our Service or Your Account email address. If you opt out of communications from Hashdish, you may not receive these notifications, however they will still govern your use of the Service, and you are responsible for proactively checking for any changes. If you continue to use the Service after changes have been posted, you agree to be bound by the changes.

Questions or Concerns

If you have any questions or concerns about these terms of service, please contact support@indie-inc.com and we will do our best to address them.

      </pre>
    </div>
    
    <!-- Footer -->
    <footer class="component__footer">
      <component-footer></component-footer>
    </footer>

    <!-- Login Modal -->
    <page-login v-show="showLoginModal" transition="fade"></page-login>

    <!-- Overlay -->
    <div class="slideout-overlay" v-show="isMenuOpened" v-on:click="onClickMenuOverlay"></div>
  </main>
  

  <!-- script -->
  <% include ../partials/scripts %>
</body>
</html>