.component__card
    text-decoration none
    color #fff
    display block
    padding 5px
    max-width 300px
    margin 0 auto
    position relative
    
    .card_wrap
        position relative
        max-height 300px
    
    .card_info_wrap
        height 40px
        position absolute
        width 100%
        bottom 0
        gradient_card()
        display table
        table-layout fixed

    .card_info_section
        position absolute
        left 8px
        bottom 8px
        font-size 11px

        .card_info_label
            margin-right 4px
            vertical-align middle

        .icon_distance, .icon_open_now, .icon_instagram_white_small
            vertical-align middle

    .card_middle
        display table-cell
        position relative
        vertical-align middle
        padding 12px 15px

    .card_right
        display table-cell
        position relative
        vertical-align middle
        padding 12px 15px
        text-align right
        width 20px
        
    .card_priceRange
        position absolute
        right 16px
        bottom 12px
        
    .card_title
        font-size 16px
        ellipsis()

    .card_bg
        background-position center center
        background-repeat no-repeat
        background-size cover
        height 100%
        position relative
        width 100%
        margin 0 auto

    .card_user_wrap
        position absolute
        top 4px
        left 4px

        img
            width 32px
            height 32px
            border-radius 100%