.component__filterInfo
  position relative
  height 40px
  line-height 40px
  text-align center

  .filterInfo
    margin 0 32px 0 12px
    &>span
      display block
      text-overflow ellipsis
      overflow hidden
      white-space nowrap
      width 100%

  .filterInfo_clear
    position absolute
    top 2px
    right 0
    width 32px