/*
  Icon
*/

.icon_logo_s
    retina_sprite($sprite_logo, 332/110)
    display block

.icon_menu
    retina_sprite($sprite_icon_menu, 64 / 30)
    margin 2px
    // background-image url(../img/icons/menu.png)
    // background-size 32px 32px
    // width 32px
    // height 32px
    
.icon_back
    retina_sprite($sprite_arrow_left)
    margin 4px

.icon_forward
    retina_sprite($sprite_arrow_right)
    margin 4px

.icon_close
    retina_sprite($sprite_icon_close)
    display inline-block

.icon_clear
    retina_sprite($sprite_icon_clear)
    display inline-block

.icon_open_now
    retina_sprite($sprite_icon_open_now)
    display inline-block

.icon_distance
    retina_sprite($sprite_icon_distance)
    display inline-block

.icon_favorite_blank
    // retina_sprite($sprite_favorite_blank, 64 / 20)
    background-image url(../img/icons/heart_blank.svg)
    background-size 24px 24px
    width 24px
    height 24px
    margin 4px
    display inline-block

.icon_favorite
    // retina_sprite($sprite_favorite_fill, 64 / 20)
    background-image url(../img/icons/heart_fill.svg)
    background-size 24px 24px
    width 24px
    height 24px
    margin 4px
    display inline-block

.icon_queries
    retina_sprite($sprite_icon_filter)
    display inline-block
    margin 4px

.icon_share
    retina_sprite($sprite_icon_share)
    display inline-block
    margin 4px

.icon_address
    retina_sprite($sprite_icon_address, 52 / 20)
    display inline-block

.icon_search_all
    retina_sprite($sprite_search_all)
    display inline-block

.icon_search_all_selected
    retina_sprite($sprite_search_all_selected)
    display inline-block

.icon_search_pin
    retina_sprite($sprite_search_pin)
    display inline-block

.icon_search_pin_selected
    retina_sprite($sprite_search_pin_selected)
    display inline-block

.icon_search_tag
    retina_sprite($sprite_search_tag)
    display inline-block

.icon_search_tag_selected
    retina_sprite($sprite_search_tag_selected)
    display inline-block

.icon_search_instagramer
    retina_sprite($sprite_search_instagramer)
    display inline-block

.icon_search_instagramer_selected
    retina_sprite($sprite_search_instagramer_selected)
    display inline-block

.icon_instagram
    retina_sprite($sprite_icon_instagram)
    display inline-block    

.icon_instagram_white
    retina_sprite($sprite_icon_instagram_white)
    display inline-block

.icon_instagram_white_small
    retina_sprite($sprite_icon_instagram_white, 32 / 12)
    display inline-block

.icon_profile
    img
        width 32px
        height 32px
        border-radius 100%
        
.icon_large
    img
        width 64px
        height 64px

.layer_close_icon_wrap
    position absolute
    top 20px
    left 20px
    width 24px
    height 24px
    z-index 1