/*! table */
.component_table
    display table
    width 100%
    border-collapse separate
    border-spacing 0 12px
    table-layout fixed

    .table_row
        display table-row
        
        .table_cell
            vertical-align middle
        
        .table_cell_left
            display table-cell
            width 90px
            vertical-align top

        .table_cell_right
            display table-cell
            
dl
    margin-bottom 0
    border-bottom 1px solid #fff

    dt
        float left
        clear left
        width 20%
        font-weight 500
        padding 12px

    dd
        margin-left 110px
        // width 80%
        padding 12px
        font-weight 700
        word-break break-all
        line-height 24px
        
        a:link, a:visited
            text-decoration underline
