/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$sprite_arrow_bottom_name = 'sprite-arrow_bottom';
$sprite_arrow_bottom_x = 342px;
$sprite_arrow_bottom_y = 256px;
$sprite_arrow_bottom_offset_x = -342px;
$sprite_arrow_bottom_offset_y = -256px;
$sprite_arrow_bottom_width = 21px;
$sprite_arrow_bottom_height = 13px;
$sprite_arrow_bottom_total_width = 514px;
$sprite_arrow_bottom_total_height = 446px;
$sprite_arrow_bottom_image = '../img/sprites.png';
$sprite_arrow_bottom = 342px 256px -342px -256px 21px 13px 514px 446px '../img/sprites.png' 'sprite-arrow_bottom';
$sprite_arrow_left_name = 'sprite-arrow_left';
$sprite_arrow_left_x = 282px;
$sprite_arrow_left_y = 286px;
$sprite_arrow_left_offset_x = -282px;
$sprite_arrow_left_offset_y = -286px;
$sprite_arrow_left_width = 56px;
$sprite_arrow_left_height = 56px;
$sprite_arrow_left_total_width = 514px;
$sprite_arrow_left_total_height = 446px;
$sprite_arrow_left_image = '../img/sprites.png';
$sprite_arrow_left = 282px 286px -282px -286px 56px 56px 514px 446px '../img/sprites.png' 'sprite-arrow_left';
$sprite_arrow_right_name = 'sprite-arrow_right';
$sprite_arrow_right_x = 248px;
$sprite_arrow_right_y = 212px;
$sprite_arrow_right_offset_x = -248px;
$sprite_arrow_right_offset_y = -212px;
$sprite_arrow_right_width = 56px;
$sprite_arrow_right_height = 56px;
$sprite_arrow_right_total_width = 514px;
$sprite_arrow_right_total_height = 446px;
$sprite_arrow_right_image = '../img/sprites.png';
$sprite_arrow_right = 248px 212px -248px -212px 56px 56px 514px 446px '../img/sprites.png' 'sprite-arrow_right';
$sprite_arrow_right_black_name = 'sprite-arrow_right_black';
$sprite_arrow_right_black_x = 373px;
$sprite_arrow_right_black_y = 256px;
$sprite_arrow_right_black_offset_x = -373px;
$sprite_arrow_right_black_offset_y = -256px;
$sprite_arrow_right_black_width = 7px;
$sprite_arrow_right_black_height = 12px;
$sprite_arrow_right_black_total_width = 514px;
$sprite_arrow_right_black_total_height = 446px;
$sprite_arrow_right_black_image = '../img/sprites.png';
$sprite_arrow_right_black = 373px 256px -373px -256px 7px 12px 514px 446px '../img/sprites.png' 'sprite-arrow_right_black';
$sprite_arrow_top_name = 'sprite-arrow_top';
$sprite_arrow_top_x = 490px;
$sprite_arrow_top_y = 220px;
$sprite_arrow_top_offset_x = -490px;
$sprite_arrow_top_offset_y = -220px;
$sprite_arrow_top_width = 21px;
$sprite_arrow_top_height = 13px;
$sprite_arrow_top_total_width = 514px;
$sprite_arrow_top_total_height = 446px;
$sprite_arrow_top_image = '../img/sprites.png';
$sprite_arrow_top = 490px 220px -490px -220px 21px 13px 514px 446px '../img/sprites.png' 'sprite-arrow_top';
$sprite_bottom_list_name = 'sprite-bottom_list';
$sprite_bottom_list_x = 342px;
$sprite_bottom_list_y = 0px;
$sprite_bottom_list_offset_x = -342px;
$sprite_bottom_list_offset_y = 0px;
$sprite_bottom_list_width = 172px;
$sprite_bottom_list_height = 172px;
$sprite_bottom_list_total_width = 514px;
$sprite_bottom_list_total_height = 446px;
$sprite_bottom_list_image = '../img/sprites.png';
$sprite_bottom_list = 342px 0px -342px 0px 172px 172px 514px 446px '../img/sprites.png' 'sprite-bottom_list';
$sprite_bottom_map_name = 'sprite-bottom_map';
$sprite_bottom_map_x = 0px;
$sprite_bottom_map_y = 104px;
$sprite_bottom_map_offset_x = 0px;
$sprite_bottom_map_offset_y = -104px;
$sprite_bottom_map_width = 172px;
$sprite_bottom_map_height = 172px;
$sprite_bottom_map_total_width = 514px;
$sprite_bottom_map_total_height = 446px;
$sprite_bottom_map_image = '../img/sprites.png';
$sprite_bottom_map = 0px 104px 0px -104px 172px 172px 514px 446px '../img/sprites.png' 'sprite-bottom_map';
$sprite_icon_address_name = 'sprite-icon_address';
$sprite_icon_address_x = 0px;
$sprite_icon_address_y = 394px;
$sprite_icon_address_offset_x = 0px;
$sprite_icon_address_offset_y = -394px;
$sprite_icon_address_width = 52px;
$sprite_icon_address_height = 52px;
$sprite_icon_address_total_width = 514px;
$sprite_icon_address_total_height = 446px;
$sprite_icon_address_image = '../img/sprites.png';
$sprite_icon_address = 0px 394px 0px -394px 52px 52px 514px 446px '../img/sprites.png' 'sprite-icon_address';
$sprite_icon_clear_name = 'sprite-icon_clear';
$sprite_icon_clear_x = 216px;
$sprite_icon_clear_y = 352px;
$sprite_icon_clear_offset_x = -216px;
$sprite_icon_clear_offset_y = -352px;
$sprite_icon_clear_width = 28px;
$sprite_icon_clear_height = 28px;
$sprite_icon_clear_total_width = 514px;
$sprite_icon_clear_total_height = 446px;
$sprite_icon_clear_image = '../img/sprites.png';
$sprite_icon_clear = 216px 352px -216px -352px 28px 28px 514px 446px '../img/sprites.png' 'sprite-icon_clear';
$sprite_icon_close_name = 'sprite-icon_close';
$sprite_icon_close_x = 434px;
$sprite_icon_close_y = 394px;
$sprite_icon_close_offset_x = -434px;
$sprite_icon_close_offset_y = -394px;
$sprite_icon_close_width = 50px;
$sprite_icon_close_height = 50px;
$sprite_icon_close_total_width = 514px;
$sprite_icon_close_total_height = 446px;
$sprite_icon_close_image = '../img/sprites.png';
$sprite_icon_close = 434px 394px -434px -394px 50px 50px 514px 446px '../img/sprites.png' 'sprite-icon_close';
$sprite_icon_distance_name = 'sprite-icon_distance';
$sprite_icon_distance_x = 490px;
$sprite_icon_distance_y = 182px;
$sprite_icon_distance_offset_x = -490px;
$sprite_icon_distance_offset_y = -182px;
$sprite_icon_distance_width = 24px;
$sprite_icon_distance_height = 28px;
$sprite_icon_distance_total_width = 514px;
$sprite_icon_distance_total_height = 446px;
$sprite_icon_distance_image = '../img/sprites.png';
$sprite_icon_distance = 490px 182px -490px -182px 24px 28px 514px 446px '../img/sprites.png' 'sprite-icon_distance';
$sprite_icon_filter_name = 'sprite-icon_filter';
$sprite_icon_filter_x = 216px;
$sprite_icon_filter_y = 286px;
$sprite_icon_filter_offset_x = -216px;
$sprite_icon_filter_offset_y = -286px;
$sprite_icon_filter_width = 56px;
$sprite_icon_filter_height = 56px;
$sprite_icon_filter_total_width = 514px;
$sprite_icon_filter_total_height = 446px;
$sprite_icon_filter_image = '../img/sprites.png';
$sprite_icon_filter = 216px 286px -216px -286px 56px 56px 514px 446px '../img/sprites.png' 'sprite-icon_filter';
$sprite_icon_instagram_name = 'sprite-icon_instagram';
$sprite_icon_instagram_x = 290px;
$sprite_icon_instagram_y = 146px;
$sprite_icon_instagram_offset_x = -290px;
$sprite_icon_instagram_offset_y = -146px;
$sprite_icon_instagram_width = 32px;
$sprite_icon_instagram_height = 32px;
$sprite_icon_instagram_total_width = 514px;
$sprite_icon_instagram_total_height = 446px;
$sprite_icon_instagram_image = '../img/sprites.png';
$sprite_icon_instagram = 290px 146px -290px -146px 32px 32px 514px 446px '../img/sprites.png' 'sprite-icon_instagram';
$sprite_icon_instagram_white_name = 'sprite-icon_instagram_white';
$sprite_icon_instagram_white_x = 290px;
$sprite_icon_instagram_white_y = 104px;
$sprite_icon_instagram_white_offset_x = -290px;
$sprite_icon_instagram_white_offset_y = -104px;
$sprite_icon_instagram_white_width = 32px;
$sprite_icon_instagram_white_height = 32px;
$sprite_icon_instagram_white_total_width = 514px;
$sprite_icon_instagram_white_total_height = 446px;
$sprite_icon_instagram_white_image = '../img/sprites.png';
$sprite_icon_instagram_white = 290px 104px -290px -104px 32px 32px 514px 446px '../img/sprites.png' 'sprite-icon_instagram_white';
$sprite_icon_menu_name = 'sprite-icon_menu';
$sprite_icon_menu_x = 342px;
$sprite_icon_menu_y = 182px;
$sprite_icon_menu_offset_x = -342px;
$sprite_icon_menu_offset_y = -182px;
$sprite_icon_menu_width = 64px;
$sprite_icon_menu_height = 64px;
$sprite_icon_menu_total_width = 514px;
$sprite_icon_menu_total_height = 446px;
$sprite_icon_menu_image = '../img/sprites.png';
$sprite_icon_menu = 342px 182px -342px -182px 64px 64px 514px 446px '../img/sprites.png' 'sprite-icon_menu';
$sprite_icon_open_now_name = 'sprite-icon_open_now';
$sprite_icon_open_now_x = 254px;
$sprite_icon_open_now_y = 352px;
$sprite_icon_open_now_offset_x = -254px;
$sprite_icon_open_now_offset_y = -352px;
$sprite_icon_open_now_width = 24px;
$sprite_icon_open_now_height = 28px;
$sprite_icon_open_now_total_width = 514px;
$sprite_icon_open_now_total_height = 446px;
$sprite_icon_open_now_image = '../img/sprites.png';
$sprite_icon_open_now = 254px 352px -254px -352px 24px 28px 514px 446px '../img/sprites.png' 'sprite-icon_open_now';
$sprite_icon_search_name = 'sprite-icon_search';
$sprite_icon_search_x = 472px;
$sprite_icon_search_y = 286px;
$sprite_icon_search_offset_x = -472px;
$sprite_icon_search_offset_y = -286px;
$sprite_icon_search_width = 28px;
$sprite_icon_search_height = 28px;
$sprite_icon_search_total_width = 514px;
$sprite_icon_search_total_height = 446px;
$sprite_icon_search_image = '../img/sprites.png';
$sprite_icon_search = 472px 286px -472px -286px 28px 28px 514px 446px '../img/sprites.png' 'sprite-icon_search';
$sprite_icon_share_name = 'sprite-icon_share';
$sprite_icon_share_x = 182px;
$sprite_icon_share_y = 212px;
$sprite_icon_share_offset_x = -182px;
$sprite_icon_share_offset_y = -212px;
$sprite_icon_share_width = 56px;
$sprite_icon_share_height = 56px;
$sprite_icon_share_total_width = 514px;
$sprite_icon_share_total_height = 446px;
$sprite_icon_share_image = '../img/sprites.png';
$sprite_icon_share = 182px 212px -182px -212px 56px 56px 514px 446px '../img/sprites.png' 'sprite-icon_share';
$sprite_icon_share_fb_name = 'sprite-icon_share_fb';
$sprite_icon_share_fb_x = 108px;
$sprite_icon_share_fb_y = 286px;
$sprite_icon_share_fb_offset_x = -108px;
$sprite_icon_share_fb_offset_y = -286px;
$sprite_icon_share_fb_width = 98px;
$sprite_icon_share_fb_height = 98px;
$sprite_icon_share_fb_total_width = 514px;
$sprite_icon_share_fb_total_height = 446px;
$sprite_icon_share_fb_image = '../img/sprites.png';
$sprite_icon_share_fb = 108px 286px -108px -286px 98px 98px 514px 446px '../img/sprites.png' 'sprite-icon_share_fb';
$sprite_icon_share_line_name = 'sprite-icon_share_line';
$sprite_icon_share_line_x = 0px;
$sprite_icon_share_line_y = 286px;
$sprite_icon_share_line_offset_x = 0px;
$sprite_icon_share_line_offset_y = -286px;
$sprite_icon_share_line_width = 98px;
$sprite_icon_share_line_height = 98px;
$sprite_icon_share_line_total_width = 514px;
$sprite_icon_share_line_total_height = 446px;
$sprite_icon_share_line_image = '../img/sprites.png';
$sprite_icon_share_line = 0px 286px 0px -286px 98px 98px 514px 446px '../img/sprites.png' 'sprite-icon_share_line';
$sprite_icon_share_tw_name = 'sprite-icon_share_tw';
$sprite_icon_share_tw_x = 182px;
$sprite_icon_share_tw_y = 104px;
$sprite_icon_share_tw_offset_x = -182px;
$sprite_icon_share_tw_offset_y = -104px;
$sprite_icon_share_tw_width = 98px;
$sprite_icon_share_tw_height = 98px;
$sprite_icon_share_tw_total_width = 514px;
$sprite_icon_share_tw_total_height = 446px;
$sprite_icon_share_tw_image = '../img/sprites.png';
$sprite_icon_share_tw = 182px 104px -182px -104px 98px 98px 514px 446px '../img/sprites.png' 'sprite-icon_share_tw';
$sprite_logo_name = 'sprite-logo';
$sprite_logo_x = 0px;
$sprite_logo_y = 0px;
$sprite_logo_offset_x = 0px;
$sprite_logo_offset_y = 0px;
$sprite_logo_width = 332px;
$sprite_logo_height = 94px;
$sprite_logo_total_width = 514px;
$sprite_logo_total_height = 446px;
$sprite_logo_image = '../img/sprites.png';
$sprite_logo = 0px 0px 0px 0px 332px 94px 514px 446px '../img/sprites.png' 'sprite-logo';
$sprite_logo_twitter_white_name = 'sprite-logo_twitter_white';
$sprite_logo_twitter_white_x = 416px;
$sprite_logo_twitter_white_y = 182px;
$sprite_logo_twitter_white_offset_x = -416px;
$sprite_logo_twitter_white_offset_y = -182px;
$sprite_logo_twitter_white_width = 64px;
$sprite_logo_twitter_white_height = 64px;
$sprite_logo_twitter_white_total_width = 514px;
$sprite_logo_twitter_white_total_height = 446px;
$sprite_logo_twitter_white_image = '../img/sprites.png';
$sprite_logo_twitter_white = 416px 182px -416px -182px 64px 64px 514px 446px '../img/sprites.png' 'sprite-logo_twitter_white';
$sprite_search_all_name = 'sprite-search_all';
$sprite_search_all_x = 310px;
$sprite_search_all_y = 394px;
$sprite_search_all_offset_x = -310px;
$sprite_search_all_offset_y = -394px;
$sprite_search_all_width = 52px;
$sprite_search_all_height = 52px;
$sprite_search_all_total_width = 514px;
$sprite_search_all_total_height = 446px;
$sprite_search_all_image = '../img/sprites.png';
$sprite_search_all = 310px 394px -310px -394px 52px 52px 514px 446px '../img/sprites.png' 'sprite-search_all';
$sprite_search_all_selected_name = 'sprite-search_all_selected';
$sprite_search_all_selected_x = 248px;
$sprite_search_all_selected_y = 394px;
$sprite_search_all_selected_offset_x = -248px;
$sprite_search_all_selected_offset_y = -394px;
$sprite_search_all_selected_width = 52px;
$sprite_search_all_selected_height = 52px;
$sprite_search_all_selected_total_width = 514px;
$sprite_search_all_selected_total_height = 446px;
$sprite_search_all_selected_image = '../img/sprites.png';
$sprite_search_all_selected = 248px 394px -248px -394px 52px 52px 514px 446px '../img/sprites.png' 'sprite-search_all_selected';
$sprite_search_instagramer_name = 'sprite-search_instagramer';
$sprite_search_instagramer_x = 124px;
$sprite_search_instagramer_y = 394px;
$sprite_search_instagramer_offset_x = -124px;
$sprite_search_instagramer_offset_y = -394px;
$sprite_search_instagramer_width = 52px;
$sprite_search_instagramer_height = 52px;
$sprite_search_instagramer_total_width = 514px;
$sprite_search_instagramer_total_height = 446px;
$sprite_search_instagramer_image = '../img/sprites.png';
$sprite_search_instagramer = 124px 394px -124px -394px 52px 52px 514px 446px '../img/sprites.png' 'sprite-search_instagramer';
$sprite_search_instagramer_selected_name = 'sprite-search_instagramer_selected';
$sprite_search_instagramer_selected_x = 62px;
$sprite_search_instagramer_selected_y = 394px;
$sprite_search_instagramer_selected_offset_x = -62px;
$sprite_search_instagramer_selected_offset_y = -394px;
$sprite_search_instagramer_selected_width = 52px;
$sprite_search_instagramer_selected_height = 52px;
$sprite_search_instagramer_selected_total_width = 514px;
$sprite_search_instagramer_selected_total_height = 446px;
$sprite_search_instagramer_selected_image = '../img/sprites.png';
$sprite_search_instagramer_selected = 62px 394px -62px -394px 52px 52px 514px 446px '../img/sprites.png' 'sprite-search_instagramer_selected';
$sprite_search_pin_name = 'sprite-search_pin';
$sprite_search_pin_x = 372px;
$sprite_search_pin_y = 394px;
$sprite_search_pin_offset_x = -372px;
$sprite_search_pin_offset_y = -394px;
$sprite_search_pin_width = 52px;
$sprite_search_pin_height = 52px;
$sprite_search_pin_total_width = 514px;
$sprite_search_pin_total_height = 446px;
$sprite_search_pin_image = '../img/sprites.png';
$sprite_search_pin = 372px 394px -372px -394px 52px 52px 514px 446px '../img/sprites.png' 'sprite-search_pin';
$sprite_search_pin_selected_name = 'sprite-search_pin_selected';
$sprite_search_pin_selected_x = 186px;
$sprite_search_pin_selected_y = 394px;
$sprite_search_pin_selected_offset_x = -186px;
$sprite_search_pin_selected_offset_y = -394px;
$sprite_search_pin_selected_width = 52px;
$sprite_search_pin_selected_height = 52px;
$sprite_search_pin_selected_total_width = 514px;
$sprite_search_pin_selected_total_height = 446px;
$sprite_search_pin_selected_image = '../img/sprites.png';
$sprite_search_pin_selected = 186px 394px -186px -394px 52px 52px 514px 446px '../img/sprites.png' 'sprite-search_pin_selected';
$sprite_search_tag_name = 'sprite-search_tag';
$sprite_search_tag_x = 410px;
$sprite_search_tag_y = 286px;
$sprite_search_tag_offset_x = -410px;
$sprite_search_tag_offset_y = -286px;
$sprite_search_tag_width = 52px;
$sprite_search_tag_height = 52px;
$sprite_search_tag_total_width = 514px;
$sprite_search_tag_total_height = 446px;
$sprite_search_tag_image = '../img/sprites.png';
$sprite_search_tag = 410px 286px -410px -286px 52px 52px 514px 446px '../img/sprites.png' 'sprite-search_tag';
$sprite_search_tag_selected_name = 'sprite-search_tag_selected';
$sprite_search_tag_selected_x = 348px;
$sprite_search_tag_selected_y = 286px;
$sprite_search_tag_selected_offset_x = -348px;
$sprite_search_tag_selected_offset_y = -286px;
$sprite_search_tag_selected_width = 52px;
$sprite_search_tag_selected_height = 52px;
$sprite_search_tag_selected_total_width = 514px;
$sprite_search_tag_selected_total_height = 446px;
$sprite_search_tag_selected_image = '../img/sprites.png';
$sprite_search_tag_selected = 348px 286px -348px -286px 52px 52px 514px 446px '../img/sprites.png' 'sprite-search_tag_selected';
$spritesheet_width = 514px;
$spritesheet_height = 446px;
$spritesheet_image = '../img/sprites.png';
$spritesheet_sprites = $sprite_arrow_bottom $sprite_arrow_left $sprite_arrow_right $sprite_arrow_right_black $sprite_arrow_top $sprite_bottom_list $sprite_bottom_map $sprite_icon_address $sprite_icon_clear $sprite_icon_close $sprite_icon_distance $sprite_icon_filter $sprite_icon_instagram $sprite_icon_instagram_white $sprite_icon_menu $sprite_icon_open_now $sprite_icon_search $sprite_icon_share $sprite_icon_share_fb $sprite_icon_share_line $sprite_icon_share_tw $sprite_logo $sprite_logo_twitter_white $sprite_search_all $sprite_search_all_selected $sprite_search_instagramer $sprite_search_instagramer_selected $sprite_search_pin $sprite_search_pin_selected $sprite_search_tag $sprite_search_tag_selected;
$spritesheet = 514px 446px '../img/sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
